-
  function loadProject(dir) {
    const prefix = `../../../content/projects/${dir}/`;
    const { attributes: meta, body: description } = requireFmMd(`projects/${dir}/description.md`, prefix);

    const [ bannerImgName ] = glob("banner.*", { cwd: `projects/${dir}` });
    const [ mainImgName ] = glob("main.*", { cwd: `projects/${dir}` });

    meta.id = dir.split("/")[1];
    meta.description = description;

    meta.bannerImgPath = bannerImgName ? `${prefix}${bannerImgName}` : "";
    meta.mainImgPath = mainImgName ? `${prefix}${mainImgName}` : "";

    meta.year = Math.floor((meta.date || "").split("-")[0]);

    return meta;
  }

  function loadCategories() {
    const categories = requireJSON("projects/categories.json");

    return Object.entries(categories).map(([categoryId, category]) => {
      const projectDirs = glob(category.projectDirs, {
        cwd: "projects"
      });

      category.id = categoryId;
      category.projects = projectDirs.map(loadProject);

      return category;
    });
  }

  function loadProjectList() {
    const categories = loadCategories();

    return categories
      .flatMap(category => category.projects)
      .sort((a, b) => {
        if(a.date < b.date)
          return 1;

        if(a.date > b.date)
          return -1;

        return a.name < b.name ? -1 : 1;
      });
  }

  const projects = loadProjectList();

each p in projects
  -
    const attrs = Object.assign({}, p);
    delete attrs.description;
    delete attrs.bannerImgPath;
    delete attrs.mainImgPath;

  //project
  != JSON.stringify(attrs)
  //content
  link(name="bannerImgPath" href=p.bannerImgPath)
  link(name="mainImgPath" href=p.mainImgPath)
  div(name="description")!= p.description
